.input {
    margin: 6px 0px 20px 0px;
    background: #fff;
    color: #262626;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    width: 200px;
}
.input input {
    padding: 10px;
}

.question {
    margin-top: 40px;
}

.btnHome {
    background: black !important;
    position: absolute !important;
    left: 60px;
    top: 30px;
}

.btnHome a {
    color: #fff;
}

.btnCat {
    background: #fff !important;
}

.btnCat a {
    color: #262626;
}